<div class="card mx-auto align-items-center">
    <div class="card-body align-items-center">
        <form>
            <div class="form-row align-items-center">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    <small class="form-text text-muted">We'll never share your name with anyone else.</small>
                </div>
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="form-group col-md-12">
                    <textarea class="form-control" id="message" rows="3" placeholder="Enter your message"></textarea>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="form-group col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>